data/flows.json
[
    {
        "id": "fbad585e.ea1a98",
        "type": "tab",
        "label": "Teleinformation",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b4b72d3d.bf51c",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyAMA0",
        "serialbaud": "1200",
        "databits": "7",
        "parity": "even",
        "stopbits": "1",
        "waitfor": "0x2",
        "newline": "0x3",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "cb79d330.24e94",
        "type": "mqtt-broker",
        "z": "",
        "name": "MQTT Broker",
        "broker": "${MQTT_SERVER}",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d0c3d2e2.c3bdb",
        "type": "serial in",
        "z": "fbad585e.ea1a98",
        "name": "/dev/ttyAMA0",
        "serial": "b4b72d3d.bf51c",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "f3163ffd.83225",
                "e1ca49c5.c053d8"
            ]
        ]
    },
    {
        "id": "ae8838a2.5a7908",
        "type": "function",
        "z": "fbad585e.ea1a98",
        "name": "toJSON",
        "func": "function computeChecksum(etiquette, valeur) {\n    // Calcul de la checksum sur ce qu'on a reçu, on balaye tous les caractères\n\tvar sum = 32;\n  \tfor (i = 0; i < etiquette.length; i++) sum += etiquette.charCodeAt(i);\n  \tfor (i = 0; i < valeur.length; i++) sum += valeur.charCodeAt(i);\n \tsum = ((sum % 256) & 63) + 32;\n \treturn String.fromCharCode(sum);\n}\n\nvar payload = {};\n \n// Enlever les codes début et fin de trame\nvar lines = msg.payload.toString().replace(\"\\u0002\\n\", \"\").replace(\"\\r\\u0003\", \"\");\n \n// Récupérer chaque ligne une à une\nlines.split(\"\\r\\n\").forEach(line => {\n\n  \tnode.debug(`Ligne à décoder : ${line}`);\n  \t\n  \tvar groups = line.match(/^([^ ]+)\\s([^ ]+)\\s(.)$/i);\n  \t\n  \tif (groups === null) {\n  \t    node.warn(`Impossible de décoder la ligne '${line}'`);\n  \t} else {\n      \tvar etiquette = groups[1];\n      \tvar valeur = groups[2];\n      \tvar checksum = groups[3];\n      \t\n        var computedChecksum = computeChecksum(etiquette, valeur);\n     \n        // Checksum correcte ?\n        if (computedChecksum === checksum) {\n            \n            // Suppression des points en fin de chaîne (pour tout ce qui est période et option tarifaire)\n            valeur = valeur.replace(/\\.+$/g, '');\n            \n            // Si c'est une chaîne numérique, on la transforme en int\n            if (valeur.match(/^\\d+$/)) {\n                valeur = parseInt(valeur);\n            }\n    \n            node.debug(`Etiquette : ${etiquette} / Valeur : ${valeur}`);\n     \n            payload[etiquette] = valeur;\n    \t} else {\n    \t\tnode.warn(`Mauvais checksum pour la ligne '${line}'`);\n    \t}\n  \t}\n})\n\nreturn [{ payload }];",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 200,
        "wires": [
            [
                "f3929d13.84137",
                "f9382bc0.1f80f8"
            ]
        ]
    },
    {
        "id": "f3929d13.84137",
        "type": "debug",
        "z": "fbad585e.ea1a98",
        "name": "Debug payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 600,
        "y": 120,
        "wires": []
    },
    {
        "id": "f9382bc0.1f80f8",
        "type": "mqtt out",
        "z": "fbad585e.ea1a98",
        "name": "",
        "topic": "teleinfo",
        "qos": "",
        "retain": "",
        "broker": "cb79d330.24e94",
        "x": 620,
        "y": 200,
        "wires": []
    },
    {
        "id": "f3163ffd.83225",
        "type": "delay",
        "z": "fbad585e.ea1a98",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 290,
        "y": 200,
        "wires": [
            [
                "ae8838a2.5a7908"
            ]
        ]
    },
    {
        "id": "1dd738c9.3e6867",
        "type": "rpi-gpio out",
        "z": "fbad585e.ea1a98",
        "name": "LED",
        "pin": "7",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 450,
        "y": 280,
        "wires": []
    },
    {
        "id": "e1ca49c5.c053d8",
        "type": "trigger",
        "z": "fbad585e.ea1a98",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "100",
        "extend": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 280,
        "y": 280,
        "wires": [
            [
                "1dd738c9.3e6867"
            ]
        ]
    }
]